$primary-light: #98f5f2;
$primary-dark: #71d4d1;

.theme__btn {
  color: white;
  float:right;
  border:none;
  cursor: pointer;
  border-radius: 3px;
  border-bottom: 3px solid $primary-dark;
  background-color:$primary-light !important;
  &.input{
    padding: 11px 15px 11px;
    border-radius: 3px;
    border-bottom: 3px solid $primary-dark;
    &:hover{
      background:$primary-dark;
    }
    .fa{
      font-size:20px;
      position: relative;
      top: 3px;
    }
  }
  
  &:focus{
    outline:none;
  }
}