.btn-create{
  float:right;
  position:absolute;
  right:20px;
  top:10px;
  padding:10px 15px;
  cursor:pointer;
  border-radius:3px;
  span{
    position:relative;
    font-size:15px;
    text-transform:uppercase;
    top:0px;
  }
  border:1px solid $primary-dark;
  &:hover{
    background:$primary-dark;
    border:1px solid $primary-dark;
  }
}