$theme-light: $primary-light;
$theme-dark: $primary-dark;

/* lists */
ul.input-list {
  list-style: none;
  margin: 0 -10px;
  padding: 0;
}
ul.input-list li {
  display: block;
  padding: 0 10px;
  margin-top:10px;
  width: 100%;
  float: left;
}


//Inputs
.theme {
  textarea{
    display: block;
    margin: 0;
    width: 100%;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: none;
    -moz-border-radius: none;
    -ms-border-radius: none;
    border-radius: none;
  }
  textarea[type="text"]:focus {
    outline: none;
  }
}

.theme__textarea {
  // theme
  padding: 10px;
  border: none;
  border-bottom: solid 2px $primary-dark;

  // pseudo selectors
  &:focus {
    outline: none;
    border-bottom: solid 2px $primary-light;
  }

  // transition
  -webkit-transition: border 0.3s;
  -moz-transition: border 0.3s;
  transition: border 0.3s;

}

.theme__input{
  display: block;
  margin: 0;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  appearance: none;
  box-shadow: none;
  border-radius: none;

  // theme
  padding: 10px;
  border: none;
  border-bottom: solid 2px $primary-dark;

  // transition
  -webkit-transition: border 0.3s;
  -moz-transition: border 0.3s;
  transition: border 0.3s;

  // pseudo selectors
  &:focus {
    outline: none;
  }
  &::-webkit-input-placeholder{
    color:#999;
  }
  &:-moz-placeholder, -webkit-input-placeholder{
    color:#999;
  }
  &.focus {
    border-bottom: solid 2px $primary-light;
  }
}

.theme{
  input[type="text"] {
    @extend .theme__input;
    &[disabled]{
      border-bottom: solid 2px #cccccc;
      background-color: #cccccc;
    }
  }
  input[type="password"] { 
    @extend .theme__input;
    &[disabled]{
      border-bottom: solid 2px #cccccc;
      background-color: #cccccc;
    }
  }
}